<br />
<div class="jumbotron p-4 p-md-4 text-white rounded bg-dark">
  <div class="col-md-12 px-0">
    <h3 class="display-4 font-italic">Welcome to seller dasboard</h3>
    <p class="lead my-3">Seller can manage product and order details.</p>
    <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
  </div>
</div>

<div class="row mb-2">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Sales Year performance</mat-panel-title>
      </mat-expansion-panel-header>
      <app-linechart></app-linechart>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Sales per country</mat-panel-title>
      </mat-expansion-panel-header>
      <app-piechart></app-piechart>
    </mat-expansion-panel>
  <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Most selled products by category</mat-panel-title>
      </mat-expansion-panel-header>
      <app-barchart></app-barchart>
    </mat-expansion-panel>
  </mat-accordion>
</div>
