<div class="carrousel">
  <input type="radio" name="slides" id="radio-1" checked />
  <input type="radio" name="slides" id="radio-2" />
  <input type="radio" name="slides" id="radio-3" />
  <input type="radio" name="slides" id="radio-4" />
  <ul class="slides">
    <li class="slide">
      <img src="assets/slide1.jpg" />
    </li>
    <li class="slide">
        <img src="assets/slide2.jpg" />
    </li>
    <li class="slide">
        <img src="assets/slide3.jpg" />
    </li>
    <li class="slide">
        <img src="assets/slide4.jpg" />
    </li>
  </ul>
  <div class="slidesNavigation">
    <label for="radio-1" id="dotForRadio-1"></label>
    <label for="radio-2" id="dotForRadio-2"></label>
    <label for="radio-3" id="dotForRadio-3"></label>
    <label for="radio-4" id="dotForRadio-4"></label>
  </div>
</div>
