<div class="contact-us">
  <h1>Love to Hear From You</h1>
  <div class="row">
    <div class="col-md-9">
      Do you wanna talk with us, this is our contact.
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.5384281408014!2d-47.049550685400696!3d-22.893503143151857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8cf5bbc2be4e7%3A0x5dd9f5f87102e46d!2sAv.%20Jos%C3%A9%20de%20Souza%20Campos%20-%20Cambu%C3%AD%2C%20Campinas%20-%20SP!5e0!3m2!1sen!2sbr!4v1608400128689!5m2!1sen!2sbr"
        width="600"
        height="450"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
    <div class="col-md-3">
      <h3>Postal Address</h3>
      <p>
        Avenue North and south <br />
        Campinas São Paulo Brazil <br />
        Pin code- 12212
      </p>
      <h3>contact@talos.com</h3>
      <p><strong>Oportunities:</strong>hr@talos.com</p>
      <p><strong>Merchandising:</strong>Marketing@talos.com</p>
      <h3>Phone</h3>
      <p><strong>Office:</strong>+91-1234567890</p>
    </div>
  </div>
</div>
