<div class="contact-us">
        <h1>Love to Hear From You</h1>
        <div class="row">
            <div class="col-md-9">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque cumque voluptates vitae qui rem nobis blanditiis, odit quos magni, totam nesciunt, debitis ea facilis voluptatem sint optio. Soluta adipisci officia dicta commodi minus, natus molestiae placeat labore! Quod culpa natus sint odit minima. Maiores sunt repellat ut a pariatur aspernatur.
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405691.5814439776!2d-122.32199106332915!3d37.40247131407771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb68ad0cfc739%3A0x7eb356b66bd4b50e!2sSilicon%20Valley%2C%20CA%2C%20USA!5e0!3m2!1sen!2sin!4v1567518063798!5m2!1sen!2sin" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-3">
                <h3>Postal Address</h3>
                <p>
                    Address Line 1
                    Address Line 2 <br>
                    City
                    State
                    Country <br>
                    Pin code- 560037
                </p>
                <h3>Email</h3>
                <p><strong>Office:</strong>office@gmail.com</p>
                <p><strong>Personal:</strong>personal@gmail.com</p>
                <h3>Phone</h3>
                <p><strong>Office:</strong>+91-1234567890</p>
                <p><strong>Work:</strong>+91-1234567891</p>
            </div>
        </div>
        
</div>