<div class="container-fluid p-0" id="banner">
    <div class="text-center p-5" id="blur">
        <h3 class="pt-5 text-white" id="_header">About Us</h3>
        <p class="" id="_title">
            <span class="text-white me-2">KICKS</span>
            <span class="text-dark" id="_zone">ZONE</span>
        </p>
        <a routerLink="/contact-us" class="btn btn-info py-2 px-5 fw-bold">Contact Us</a>
    </div>
</div>
<div class="container-lg text-center my-5 py-5">
    <h1 class="text-center text-dark mb-5">Services</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-lg text">
            <i class="bi bi-people-fill fa-5x text-info"></i><br><br>
            <p class="text-justify mx-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit lorem
                quam, vel efficitur sem ultricies eu. Morbi diam felis, viverra eget dignissim quis, lobortis eget
                felis.
                Curabitur eget pulvinar enim. Cras quis nisl suscipit, commodo orci ut, volutpat augue. Cras at rhoncus
                nulla, vitae posuere leo. Integer aliquam tellus.</p>
        </div>
        <div class="col-lg">
            <i class="bi bi-info-circle-fill fa-5x text-info"></i><br><br>
            <p class="text-justify mx-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit lorem
                quam, vel efficitur sem ultricies eu. Morbi diam felis, viverra eget dignissim quis, lobortis eget
                felis.
                Curabitur eget pulvinar enim. Cras quis nisl suscipit, commodo orci ut, volutpat augue. Cras at rhoncus
                nulla, vitae posuere leo. Integer aliquam tellus.</p>
        </div>
        <div class="col-lg">
            <i class="bi bi-box-seam-fill fa-5x text-info"></i><br><br>
            <p class="text-justify mx-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit lorem
                quam, vel efficitur sem ultricies eu. Morbi diam felis, viverra eget dignissim quis, lobortis eget
                felis.
                Curabitur eget pulvinar enim. Cras quis nisl suscipit, commodo orci ut, volutpat augue. Cras at rhoncus
                nulla, vitae posuere leo. Integer aliquam tellus.</p>
        </div>
    </div>
</div>
<br>
<div class="container-fluid bg-light">
    <div class="container-lg py-5">
        <div class="row row-cols-2 py-5">
            <div class="col-lg text-center m-auto"><span class="bi bi-award-fill fa-5x"></span></div>
            <div class="col-lg-8 text-justify">
                <h3>Mission:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit lorem
                quam, vel efficitur sem ultricies eu. Morbi diam felis, viverra eget dignissim quis, lobortis eget
                felis. Curabitur eget pulvinar enim. Cras quis nisl suscipit, commodo orci ut, volutpat augue. Cras at
                rhoncus nulla, vitae posuere leo. Integer aliquam tellus.
                Mission: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit lorem
                quam, vel efficitur sem ultricies eu. Morbi diam felis, viverra eget dignissim quis, lobortis eget
                felis. Curabitur eget pulvinar enim. Cras quis nisl suscipit, commodo orci ut, volutpat augue. Cras at
                rhoncus nulla, vitae posuere leo. Integer aliquam tellus.
                <br><br><br>
                <span class="text-secondary">
                    <h3>Vision:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit lorem
                    quam, vel efficitur sem ultricies eu. Morbi diam felis, viverra eget dignissim quis, lobortis eget
                    felis. Curabitur eget pulvinar enim. Cras quis nisl suscipit, commodo orci ut, volutpat augue. Cras
                    at
                    rhoncus nulla, vitae posuere leo. Integer aliquam tellus.
                    Vision: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit lorem
                    quam, vel efficitur sem ultricies eu. Morbi diam felis, viverra eget dignissim quis, lobortis eget
                    felis. Curabitur eget pulvinar enim. Cras quis nisl suscipit, commodo orci ut, volutpat augue. Cras
                    at
                    rhoncus nulla, vitae posuere leo. Integer aliquam tellus.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container-lg">
    <br>
    <br>
    <h1 class="text-center text-dark my-5">Our Team</h1>
    <br>
    <br>
    <div class="row row-cols-3">
        <div class="col-lg-4 mx-auto" *ngFor="let member of group_members; index as i">
            <div class="card p-4 mb-4 rounded-3">
                <img src="{{member.image}}" class="card-img-top rounded-3" alt="{{member.name}}">
                <div class="card-body p-0">
                    <h5 class="card-title mt-3">{{member.name}}</h5>
                    <p class="card-text">{{member.desc}}</p>
                    <a href="{{member.facebook}}" target="_blank" class="btn btn-primary me-3 ms-1 rounded-circle"><i
                            class="bi bi-facebook"></i></a>
                    <a href="{{member.github}}" target="_blank" class="btn btn-secondary me-3 rounded-circle"><i
                            class="bi bi-github"></i></a>
                    <div class="text-center">
                        <!-- <i class="bi bi-rewind-fill fa-2x me-3"></i>
                        <i class="bi bi-play-fill fa-2x me-3"></i>
                        <i class="bi bi-fast-forward-fill fa-2x me-3"></i>
                        <i class="bi bi-stop-fill fa-2x"></i> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>