@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    font-family: Oswald;
}

#_iconSearch {
    -webkit-text-stroke: 1px;
}

#_search:focus {
    background-color: white !important; 
}

#_cart {
    text-decoration: none;
}

#_logo {
    height: 35px;
}

.navbar {
    * {
        color: black !important;
    }

    .nav-link, .dropdown-item {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: silver 1px 0 10px;
    }
}