<div class="searchcard">
  <app-searchbar></app-searchbar>
</div>
<div class="carrouselcard">
  <app-carrousel></app-carrousel>
</div>
<br>
<div class="type-industry">
  <h1>{{"buyer_dashboard.select"| translate}}</h1>
  <div class="industry-line">
    <span
      ><mat-icon>fastfood</mat-icon>
      <h2>{{"buyer_dashboard.food"| translate}}</h2></span
    >
    <span
      ><mat-icon>local_hospital</mat-icon>
      <h2>{{"buyer_dashboard.health"| translate}}</h2></span
    >
    <span
      ><mat-icon>sd_storage</mat-icon>
      <h2>{{"buyer_dashboard.eletronics"| translate}}</h2></span
    >
    <span
      ><mat-icon>motorcycle</mat-icon>
      <h2>{{"buyer_dashboard.heavy"| translate}}</h2></span
    >
    <span
      ><mat-icon>home</mat-icon>
      <h2>{{"buyer_dashboard.construction"| translate}}</h2
    ></span>
    <span
      ><mat-icon>bug_report</mat-icon>
      <h2>{{"buyer_dashboard.farming"| translate}}</h2
    ></span>
  </div>
</div>
<br />
<nav aria-label="breadcrumb">
  <h2>{{"buyer_dashboard.recomended"| translate}}</h2>
</nav>
<div class="row">
  <div class="col-sm-4 product" *ngFor="let product of all_products">
    <div class="card">
      <img
        src="{{ product.uploadPhoto }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <p>
          <span class="float-left"
            ><strong>MRP</strong>:
            <del>{{ product.mrp }} ${{ product.currency }}</del></span
          >
          <span class="float-right"
            ><strong>DP</strong>: {{ product.dp }} ${{ product.currency }}</span
          >
        </p>
        <br />
        <p class="card-text product-desc">
          {{ product.productDesc }} <b>{{ product.brand }}</b>
        </p>
        <div class="rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>

        <div>
          <button
            mat-button
            class="btn btn-primary float-left"
            (click)="addToCart()"
          >
            Add to Cart
          </button>
          <button
            mat-button
            class="btn btn-primary float-right"
            (click)="buyProduct(product.id)"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<nav aria-label="breadcrumb">
  <h2>{{"buyer_dashboard.most"| translate}}</h2>
</nav>
<div class="row">
  <div class="col-sm-4 product" *ngFor="let product of all_products">
    <div class="card">
      <img
        src="{{ product.uploadPhoto }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <p>
          <span class="float-left"
            ><strong>MRP</strong>:
            <del>{{ product.mrp }} ${{ product.currency }}</del></span
          >
          <span class="float-right"
            ><strong>DP</strong>: {{ product.dp }} ${{ product.currency }}</span
          >
        </p>
        <br />
        <p class="card-text product-desc">
          {{ product.productDesc }} <b>{{ product.brand }}</b>
        </p>
        <div class="rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>

        <div>
          <button
            mat-button
            class="btn btn-primary float-left"
            (click)="addToCart()"
          >
            Add to Cart
          </button>
          <button
            mat-button
            class="btn btn-primary float-right"
            (click)="buyProduct(product.id)"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-discount">
  <img class="card-discount-img" src="assets/discount.jpg" alt="Discount" />
  <img class="card-discount-img" src="assets/discount2.jpg" alt="Discount" />
</div>
<br />
<nav aria-label="breadcrumb">
  <h2>{{"buyer_dashboard.best"| translate}}</h2>
</nav>
<div class="row">
  <div class="col-sm-4 product" *ngFor="let product of all_products">
    <div class="card">
      <img
        src="{{ product.uploadPhoto }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <p>
          <span class="float-left"
            ><strong>MRP</strong>:
            <del>{{ product.mrp }} ${{ product.currency }}</del></span
          >
          <span class="float-right"
            ><strong>DP</strong>: {{ product.dp }} ${{ product.currency }}</span
          >
        </p>
        <br />
        <p class="card-text product-desc">
          {{ product.productDesc }} <b>{{ product.brand }}</b>
        </p>
        <div class="rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>

        <div>
          <button
            mat-button
            class="btn btn-primary float-left"
            (click)="addToCart()"
          >
            Add to Cart
          </button>
          <button
            mat-button
            class="btn btn-primary float-right"
            (click)="buyProduct(product.id)"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<nav aria-label="breadcrumb">
  <h2>{{"buyer_dashboard.wish"| translate}}</h2>
</nav>
<div class="row">
  <div class="col-sm-4 product" *ngFor="let product of all_products">
    <div class="card">
      <img
        src="{{ product.uploadPhoto }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <p>
          <span class="float-left"
            ><strong>MRP</strong>:
            <del>{{ product.mrp }} ${{ product.currency }}</del></span
          >
          <span class="float-right"
            ><strong>DP</strong>: {{ product.dp }} ${{ product.currency }}</span
          >
        </p>
        <br />
        <p class="card-text product-desc">
          {{ product.productDesc }} <b>{{ product.brand }}</b>
        </p>
        <div class="rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>

        <div>
          <button
            mat-button
            class="btn btn-primary float-left"
            (click)="addToCart()"
          >
            Add to Cart
          </button>
          <button
            mat-button
            class="btn btn-primary float-right"
            (click)="buyProduct(product.id)"
          >
            Buy Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
