<div class="container-sm p-0" style="margin-top: 75px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid border rounded-3 rounded-3 h-100 p-3">
                <p class="float-right">
                    Total Price: <strong class="text-info">paybtawsan</strong>
                    <button class="btn btn-success px-3 ms-3">Check Out</button>
                </p>
                <div class="form-check h-100 d-flex align-items-center ms-2">
                    <input class="form-check-input p-2 border-secondary" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Select All
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3" *ngFor="let product of all_products">
            <div class="card p-4 rounded-3">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{product.uploadPhoto}}" class="card-img-top mx-auto d-block rounded-3 bg-light"
                            alt="{{product.name}}">
                    </div>
                    <div class="col-md-8">
                        <span class="card-title text-truncate h5">{{product.name}}</span>
                        <span class="float-right">
                            <input class="form-check-input p-2 border-secondary" type="checkbox" value=""
                                id="flexCheckDefault">
                        </span>
                        <br>
                        <p>{{product.productDesc}}</p>
                        <p><strong class="text-success">PHP</strong>: {{product.php}}</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info p-0 px-2 fw-bold"
                                (click)="decreaseQuantity(product)">-</button>
                            <span class="px-2 border">{{product.qty}}</span>
                            <button type="button" class="btn btn-info p-0 px-2 fw-bold"
                                (click)="increaseQuantity(product)">+</button>
                        </div>
                        <p class="mt-3"><strong>Subtotal:</strong> {{product.php * product.qty}}</p>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="removeProductModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are you sure to remove {{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="fs-5">{{product.name}}</p>
                            <p>{{product.productDesc}}</p>
                            <p>
                                <span class="float-left"><strong>MRP</strong>: <del>{{product.mrp}}</del></span>
                                <span class="float-right"><strong>PHP</strong>: {{product.php}}</span>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger"
                                (click)="removeProduct(product)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>