<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" media="screen" href="" />
    <script src="https://kit.fontawesome.com/44f557ccce.js"></script>
  </head>
  <body>
    <div class="rev-section">
      <h2 class="title">Our Customers Love Us</h2>
      <p class="note">Check out the reviews of this product</p>

      <div class="reviews">
        <div class="review">
          <div class="head-review">
            <img
              src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
              width="250px"
            />
          </div>
          <div class="body-review">
            <div class="name-review">Nathan D.</div>
            <div class="place-review">Germany</div>
            <div class="rating">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star_half</mat-icon>
            </div>
            <div class="desc-review">
              Great quality product, i trust in this seller
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
