<header class="bg-image">
  <div class="container">
    <h1>Talos</h1>
    <h2>An b2b ecommerce for industrial equipments</h2>
    <a href="#" class="btn btn-transparent">Buy on Talos</a>
  </div>
</header>

<section class="">
  <div class="container">
    <div class="col-3 text--center">
      <img src="http://store.storeimages.cdn-apple.com/4044/as-images.apple.com/is/image/AppleInc/aos/published/images/H/D1/HD162/HD162?wid=800&hei=800&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1400749861094" alt="" class="details-img--ball"/>
    </div>
    <div class="col-7 details">
      <h3>We have the best quality</h3>
      <p>Industrial machines, equipments and pieces with lowest price and biggest benefit for your business, we sell in more than 25 countries</p>
    </div>
  </div>
</section>

<section class="section--primary">
  <div class="container">
    <div class="col-3 features">
      <i class="fa fa-bolt"></i>
      <p>
        Our sellers have the best logistic to deliver an excelent equipment for you
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-bank"></i>
      <p>
        We have security during the payment and delivery of the machines
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-heart"></i>
      <p>
        Post a feedback about your purchase on talos to increment your experience
      </p>
    </div>
  </div>
</section>

<section class="section--primary--alt">
  <div class="container">
    <h3>Our sellers works with relevants brands of the industry</h3>
    <p>The Talos sellers are certified with ISO and other quality metrics</p>
  </div>
</section>

<section class="section--primary--light">
  <div class="container">
    <blockquote class="testimonial">
      <p>Free shipping, fast delivery, antencious seller, high quality equipments and acessible price, i recomend buy on Talos</p>
      <cite>
        Walter Wosniak
      </cite>
    </blockquote>
  </div>
</section>

<section class="text--center">
  <div class="container">
    <h3>Want to assign our newsletter to see trends and advices of the Industrial Business?</h3>
    <a href="#" class="btn">Asign!</a>
  </div>
</section>