<div class="home">
    <!-- <h1 class="intro">{{ 'intro' | translate }}</h1> -->
    <h1 class="intro">{{'proj_name' | translate}}</h1>

<!-- <h1>Another way: <span translate>intro</span></h1> -->

<h3 class="short_desc"><span translate>project_short_desc</span></h3>

<p><a href="https://docs.google.com/document/d/1NdB3SdAbKSFcPooap-ddpHdQQxBDvAieH2bPF4NCLMU/edit?usp=sharing" target="_blank" class="btn btn-primary">{{'view_detail_doc_btn' | translate}}</a>
</p>
<p>
    <a href="https://github.com/srikrushnap" target="_blank" class="btn btn-primary">Github</a>
    <a href="https://stackoverflow.com/users/5852550/srikrushna?tab=profile" target="_blank" class="btn btn-success">Stackoverflow</a>
    <a href="https://github.com/srikrushnap" target="_blank" class="btn btn-primary">Linkedin</a>
</p>
</div>