<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2 class="text-center">Update User Profile</h2>
                <form [formGroup]="userProfileForm" (ngSubmit)="updateProfile()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':userProfile && rf.name.errors}" />
                        <div *ngIf="userProfile && rf.name.errors" class="invalid-feedback">
                            <div *ngIf="rf.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="tel" class="form-control" formControlName="mobNumber" [ngClass]="{'is-invalid':userProfile && rf.mobNumber.errors}"
                            numberOnly />
                        <div *ngIf="userProfile && rf.mobNumber.errors" class="invalid-feedback">
                            <div *ngIf="rf.mobNumber.errors.required">Mobile Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter Your Age</label>
                        <input type="number" class="form-control" formControlName="age" [ngClass]="{'is-invalid':userProfile && rf.age.errors}" />
                        <div *ngIf="userProfile && rf.age.errors" class="invalid-feedback">
                            <div *ngIf="rf.age.errors.required">Age is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>ENter Your DOB</label>
                        <input type="date" class="form-control" formControlName="dob" [ngClass]="{'is-invalid':userProfile && rf.dob.errors}" />
                        <div *ngIf="userProfile && rf.dob.errors" class="invalid-feedback" [ngClass]="{'is-invalid':userProfile && rf.dob.errors}">
                            <div *ngIf="rf.dob.errors.required">Date Of Birth is required</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                [ngClass]="{'is-invalid':userProfile && rf.email.errors}">
                            <div *ngIf="userProfile && rf.email.errors" class="invalid-feedback">
                                <div *ngIf="rf.email.errors.required">Email is required</div>
                                <div *ngIf="rf.email.errors.email">Enter valid email</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" placeholder="Password" formControlName="password"
                                [ngClass]="{'is-invalid':userProfile && rf.password.errors}">
                            <div *ngIf="userProfile && rf.password.errors" class="invalid-feedback">
                                <div *ngIf="rf.password.errors.required">Password is required</div>
                                <div *ngIf="rf.password.errors.minlength">Name must be at least 6 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" placeholder="1234 Main St" formControlName="addLine1"
                            [ngClass]="{'is-invalid':userProfile && rf.addLine1.errors}">
                        <div *ngIf="userProfile && rf.addLine1.errors" class="invalid-feedback">
                            <div *ngIf="rf.addLine1.errors.required">Addressline1 is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" placeholder="Apartment, studio, or floor"
                            formControlName="addLine2">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" formControlName="city" [ngClass]="{'is-invalid':userProfile && rf.city.errors}">
                            <div *ngIf="userProfile && rf.city.errors" class="invalid-feedback">
                                <div *ngIf="rf.city.errors.required">City is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control" formControlName="state" [ngClass]="{'is-invalid':userProfile && rf.state.errors}">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                            <div *ngIf="userProfile && rf.state.errors" class="invalid-feedback">
                                <div *ngIf="rf.state.errors.required">Select one option</div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" formControlName="zipCode" [ngClass]="{'is-invalid':userProfile && rf.zipCode.errors}"
                                numberOnly>
                            <div *ngIf="userProfile && rf.zipCode.errors" class="invalid-feedback">
                                <div *ngIf="rf.zipCode.errors.required">Zipcode is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Gender</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" value="Male"
                                [ngClass]="{'is-invalid':userProfile && rf.gender.errors}">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" value="Female"
                                [ngClass]="{'is-invalid':userProfile && rf.gender.errors}">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" value="Other"
                                disabled [ngClass]="{'is-invalid':userProfile && rf.gender.errors}">
                            <label class="form-check-label" for="inlineRadio3">Other (disabled)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Something About You</label>
                        <textarea class="form-control" rows="3" formControlName="aboutYou" [ngClass]="{'is-invalid':userProfile && rf.aboutYou.errors}"></textarea>
                        <div *ngIf="userProfile && rf.aboutYou.errors" class="invalid-feedback">
                            <div *ngIf="rf.aboutYou.errors.required">Write something about you</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload Your Photo</label>
                        <input type="file" class="form-control-file" formControlName="uploadPhoto" [ngClass]="{'is-invalid':userProfile && rf.uploadPhoto.errors}">
                        <div *ngIf="userProfile && rf.uploadPhoto.errors" class="invalid-feedback">
                            <div *ngIf="rf.uploadPhoto.errors.required">Please upload file</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Update Your Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>